gpsAndroidClient/techgi/Greeting.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gpscalcWebservice.techgi4.tuberlin.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gpscalcWebservice.techgi4.tuberlin.de/" name="GPSCalcImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://gpscalcWebservice.techgi4.tuberlin.de/" schemaLocation="http://localhost:8080/WS/Greeting?xsd=1"/>
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="getDistance">
<part name="parameters" element="tns:getDistance"/>
</message>
<message name="getDistanceResponse">
<part name="parameters" element="tns:getDistanceResponse"/>
</message>
<message name="getOtherClientIdin">
<part name="parameters" element="tns:getOtherClientIdin"/>
</message>
<message name="getOtherClientIdinResponse">
<part name="parameters" element="tns:getOtherClientIdinResponse"/>
</message>
<portType name="GPSCalc">
<operation name="sayHello">
<input wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="getDistance">
<input wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/getDistanceRequest" message="tns:getDistance"/>
<output wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/getDistanceResponse" message="tns:getDistanceResponse"/>
</operation>
<operation name="getOtherClientIdin">
<input wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/getOtherClientIdinRequest" message="tns:getOtherClientIdin"/>
<output wsam:Action="http://gpscalcWebservice.techgi4.tuberlin.de/GPSCalc/getOtherClientIdinResponse" message="tns:getOtherClientIdinResponse"/>
</operation>
</portType>
<binding name="GPSCalcImplPortBinding" type="tns:GPSCalc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDistance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOtherClientIdin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GPSCalcImplService">
<port name="GPSCalcImplPort" binding="tns:GPSCalcImplPortBinding">
<soap:address location="http://localhost:8080/WS/Greeting"/>
</port>
</service>
</definitions>